<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_guildBattleLog_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,2},{111,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{111,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildBattleLog_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,108},{109,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{109,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildUnit_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,323},{107,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{107,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildUnit_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,214},{107,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{107,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildMap_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{109,104}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{109,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildMap_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,219},{109,104}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{109,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildTeam_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,2},{111,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{111,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildTeam_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,108},{109,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{109,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildRival_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{111,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{111,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildRival_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,2},{109,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{109,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildTalk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,108},{107,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{107,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>btn_guildTalk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,108},{107,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{107,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>data2.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0e2efbd1a334af75097d77184a5ba90b:1a46ad2a93dd993ed3bf2aebd04cae49:68d9453ac6ac0e5e887d927f03710d73$</string>
		<key>textureFileName</key>
		<string>data2.png</string>
	</dict>
</dict>
</plist>
